body {
    position: relative;
    background: #6699cc;
    color: white;
    margin: 10px auto;
}

.entrance {
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    text-align : center;
}

.xx_small {
    font-size: x-large;
}