/*メインページのお花クリック*/

.flower {
    position: relative;
    width: 100%;
    padding: 340px 0px 340px 0px;
    margin: 40px auto;
    border: solid 10px snow;
    border-radius:49%;
    max-width: 700px;
}

.petal {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 50%;
    left:  50%;
    border: none;
    background: snow;
    color: snow;
    content:'';
    max-width:  6rem;
    max-height: 6rem;
    transition: background-color 0.2s;
    text-decoration: none;
}

#petal0 {
    transform: translate(-3.0rem, -3.0rem) translate(0, -10rem) scaleY(2) rotate(45deg);
}
#petal1 {
    transform: translate(-3.0rem, -3.0rem) rotate(51.4deg) translate(0, -10rem) scaleY(2) rotate(-45deg);
}
#petal2 {
    transform: translate(-3.0rem, -3.0rem) rotate(51.4deg) rotate(51.4deg) translate(0, -10rem) scaleY(2) rotate(-45deg);
}
#petal3 {
    transform: translate(-3.0rem, -3.0rem) rotate(51.4deg) rotate(51.4deg) rotate(51.4deg) translate(0, -10rem) scaleY(2) rotate(-135deg);
}

#petal4 {
    transform: translate(-3.0rem, -3.0rem) rotate(-51.4deg) rotate(-51.4deg) rotate(-51.4deg) translate(0, -10rem) scaleY(2) rotate(45deg);
}
#petal5 {
    transform: translate(-3.0rem, -3.0rem) rotate(-51.4deg) rotate(-51.4deg) translate(0, -10rem) scaleY(2) rotate(45deg);
}
#petal6 {
    transform: translate(-3.0rem, -3.0rem) rotate(-51.4deg) translate(0, -10rem) scaleY(2) rotate(45deg);
}

#petal0:visited {
    background: deepskyblue;
}

#petal1:visited {
    background: darkturquoise;
}

#petal3:visited {
    background: yellowgreen;
}

#petal6:visited {
    background: black;
}

.petal:hover{
    background: navy;
}