#video iframe{
    margin: 10px auto;
}

.history .content{
    font-size: x-large;
    width: auto;
    height: 100%;
    padding: 20px;
    margin: 20px 20px;
    color: darkslategray;
    background: lightgreen;
    border-radius: 30px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
}

.history .content table {
    margin:  20px auto;
}
.history .content td {
    padding: 30px 10px;
    margin: 0px auto;
    text-align: center;
    vertical-align: center;
}

.history .content h1 {
    margin: 5px 30px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
}

.history .content img {
    float:right;
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6));
}

@media only screen and (max-width: 1100px), print {
    img{
      width: 100%;
      height: auto;
    }
}
@media only screen and (min-width: 1100px), print {
    img{
      width: auto;
      height: auto;
    }
}

.history .content a{
    padding: 10px;
}