
/*.gallery {
    border-bottom: dashed 4px snow;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    flex-flow: row wrap;
}

.gallery img {
    flex: 0 0 19%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    height: 100px;
    width:  auto;
}*/